# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Environment variables
.env.*

# Logs
*.log

# Database
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#PDF Fix
pdfix_sdk-9.0.0/
verapdf-installer/